body {
    margin: 0;
    background: #0f0f11;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#map {
    height: 80vh;
    width: 100%;
}

.info {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: #1c1c1e;
}

.value {
    font-weight: 600;
    color: #4da3ff;
}